body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .main-card {
    width: 95%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #00000026; /*Sombreado no main-card*/
    display: flex;
}

.container .main-card .esquerda {
    width: 40%;
    height: 100%;
    background-color: #407bff;
    border-radius: 20px 0 0 20px; /*Top-left  Top-right  bottom-right  bottom-left*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.container .main-card .direita {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.container .main-card .esquerda h1 {
    font-size: 42px;
}

.container .main-card .esquerda p {
    font-size: 24px;
    text-align: center;
    width: 65%;
}

.container .main-card .esquerda button {
    width: 30%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container .main-card .esquerda button:hover {
    background-color: #ffffff;
    color: #407bff;
}

.container .main-card .direita h1 {
    font-size: 42px;
    color: #407bff;
}

.container .main-card .direita .icones {
    display: flex;
    gap: 15px;
}

.container .main-card .direita .icones i {
    font-size: 24px;
    color: #99a4a7;
    border: 3px solid #407bff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#facebook:hover {
    border: none;
    background-color: #5566A9;
    color: #ffffff;
}
#google:hover {
    border: none;
    background-color: #DD5447;
    color: #ffffff;
}

#linkedin:hover {
    border: none;
    background-color: #0A66C2;
    color: #ffffff;
}

.container .main-card .direita p {
    font-size: 22px;
    color: #99a4a7;
    font-weight: 400;
}

.container .main-card .direita .input {
    width: 40%;
    height: 40px;
    position: relative;
    display: flex;
    margin-bottom: 15px;
}

.container .main-card .direita .input input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #c0c0c0;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 40px;
}

.container .main-card .direita .input i {
    position: absolute;
    font-size: 20px;
    left: 10px;
    top: 10px;
    color: #7e8a8c;
}

.container .main-card .direita button {
    width: 200px;
    height: 40px;
    background-color: #407bff;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container .main-card .direita button:hover {
    background-color: #ffffff;
    border: 1px solid #407bff;
    color: #407bff;
}